.array-container {
  display: flex;
  margin: 10px;

}

.array-item {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  height: 100px;
}

.array-item.written {
  background-color: red;
}

.array-item.read {
  background-color: blue;
}