.Array {
  margin: 10px;
}

.container {
  display: flex;
  margin: 10px;
}

.container .item {
  float: left;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  height: 100px;
}

.item.written {
  background-color: red;
}

.item.read {
  background-color: blue;
}