.Array {
  margin: 10px;
}

.container {
  display: flex;
  margin: 10px;
}

.container .bar-item {
  float: left;
  align-self: flex-end;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
  height: 100px;
  flex: 1;
}

.bar-item.read {
  background-color: blue;
}

.bar-item.written {
  background-color: red;
}